.navbarpj {
    display: -webkit-inline-box;
    background: #009879;
    overflow: auto;
    width: 100%;
}

.navbarpj a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    margin-right: 2px;
    text-decoration: none;
    border: ridge thin #2A2828;
    border-radius: 10px;
    background: #7CC580
}

.navbarpj a:hover {
    background: #ddd;
    color: black;
}

.cont {
    text-align: center;
    background: #009879;
    width: auto;
    align-content: center;
    margin: 0 auto;
    display: table;
    font-size: 20px;
    border: thin double #E52427;
    height: 50px;
    width: 100px;
    border-radius: 25px 25px 0 0;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    color: white
}

button {
    background: #7CC580;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    width: 100%;
}

button:hover {
    background: #ddd;
    color: black;
}

button:focus {
    background: #E52427;
}

.styled-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1em;
    font-family: sans-serif;
    /* min-width: 400px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 30px 0;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #B9C9C5;
}

.styled-table tbody td:nth-of-type(odd) {
    width: 25%;
}

.styled-table tbody td {}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table th {
    text-align: center;
    font-size: 1.2em;
}

#loadmoreGroup,
#postImg {
    margin: 0 auto;
    display: block;
    margin-top: 10%;
}

#postImg {
    border-radius: 50px;
    box-shadow: 10px 15px #888888;
    border: #68ece6 solid 2px;
    width: 60%;
    margin: 0 auto;
    display: block;
}

.container {
    position: relative;
}


/* Hide the images by default */

.mySlides {
    display: none;
    border: 1px solid;
    height: 600px;
}


/* Add a pointer when hovering over the thumbnail images */

.cursor {
    cursor: pointer;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #ff0808;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* Container for image text */

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Six columns side by side */

.column {
    float: left;
    width: 16.66%;
}


/* Add a transparency effect for thumnbail images */

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.sliderimg {
    height: inherit;
}